/**
* Sprites test css.
*
* Test basic functions.
*/

@lazysprite "./filetype";

body {
	position: relative;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.content{
	width: 400px;
	margin: 0 auto;
}

.content i{
	display: inline-block;
	margin-right: 10px;
}
